.pageDiv {
    height: 100vh;
    width: 100vw;
    background-color: #F6D4B1;
}



.bodyDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    padding: 0;
    margin: 0 auto;
}

.navbar {
    padding-bottom: 20px;
    margin-bottom: 20px;
}