.wizard {
    display: flex;
    flex-direction: row;
    max-width: 50%;
    width: 33%;
    height: auto;
    margin: 0 auto;
    transform: scaleX(-1);
    object-fit: cover;
    justify-content: center;
    align-items: center;
}